html {
  scroll-behavior: smooth;
}
:root {
  
  --color-primary: #FF9900;
  --color-secondary: #FFE0B3;
  --color-black: #1C2B35;
  --color-white: #FFFFFF;
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}